div.contact-banner-img.row{
    /*background-image: url("/src/assets/img/mainbg.png");*/
    background: linear-gradient(90deg, rgba(8, 12, 18, 1) 18%, rgba(255, 219, 21, 1) 87%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 60vh;
    margin-bottom: 0px;
}
.ContactUs-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContactUs-details h1{
    color: black;
}

.ContactUs-details p{
    color: black;
}

.contactHr{
    color: black;
    border-top: 2px solid;
    width: 87px;
    margin-top: 24px;
    margin-bottom: 26px;
}
.submitForm{
    margin-top: 20px;
    margin-bottom: 20px;
}