.header-img{
    width: 48px;  /* Adjust the width as needed */
    height: auto;  /* Maintains aspect ratio */
    border-radius: 10px;
}

.header-right{
    margin-left: 25px;
}
.login-logo{
    width: 25px;
    height: 25px;
    background-image: url("/src/assets/img/enter.png");
    background-size: cover;
}
a#login-text.header-right.nav-link{
    display: flex;
}