div.blog-banner-img.row{
    /*background-image: url("/src/assets/img/mainbg.png");*/
    background: linear-gradient(90deg, rgba(8, 12, 18, 1) 18%, rgba(255, 219, 21, 1) 87%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 40vh;
    margin-bottom: 0px;
}