div.hero-img.row{
    /*background-image: url("/src/assets/img/mainbg.png");*/
    /*background-image: url("/src/assets/img/background.gif");*/
    background: linear-gradient(90deg, rgba(8, 12, 18, 1) 18%, rgba(255, 219, 21, 1) 87%);
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50%;*/
    height: 68vh;
    margin-bottom: 0px;
}

.latest-text h1{
    margin-top: 20px;
}

#heroText{
    margin-left: 40px;
}
/*.typeWriter{*/
/*    background-color: rgb(255, 219, 21);*/
/*    color: black;*/
/*    border-radius: 5px;*/
/*}*/