#footer-img {
    width: 48px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.footer-text {
    margin-bottom: 10px;
}

.footer-text a {
    color: black;
}

@media (max-width: 700px) {
    /* 在螢幕寬度小於700px時套用的樣式 */
    div.footer-container.row {
        display: block !important;
    }
}
