div.faq-banner-img.row{
    background-image: url("/src/assets/img/mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 40vh;
    margin-bottom: 0px;
}